flows/receiver_with_credit.json
[{"id":"51b49c3a.32b97c","type":"amqp-endpoint","z":"71d0ca7c.ce9484","host":"127.0.0.1","port":"5672","name":""},{"id":"57edbc49.d13f34","type":"debug","z":"71d0ca7c.ce9484","name":"","active":true,"console":"false","complete":"true","x":959,"y":194,"wires":[]},{"id":"322629f3.a73b86","type":"amqp-receiver","z":"71d0ca7c.ce9484","endpoint":"51b49c3a.32b97c","address":"my_address","autoaccept":true,"creditwindow":"100","dynamic":false,"sndsettlemode":"2","rcvsettlemode":"0","durable":"0","expirypolicy":"session-end","name":"","x":433,"y":227.5,"wires":[["57edbc49.d13f34","d85b665e.0dc808"]]},{"id":"a74bd748.d6f4","type":"amqp-sender","z":"71d0ca7c.ce9484","endpoint":"51b49c3a.32b97c","address":"my_address","autosettle":true,"dynamic":false,"sndsettlemode":"1","rcvsettlemode":"0","durable":"0","expirypolicy":"session-end","name":"","x":834,"y":445,"wires":[["6a63eba1.72be1c"]]},{"id":"d8ee7682.391e8","type":"inject","z":"71d0ca7c.ce9484","name":"","topic":"","payload":"Hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":301,"y":491.5,"wires":[["4fe44ccc.291894"]]},{"id":"4fe44ccc.291894","type":"function","z":"71d0ca7c.ce9484","name":"toAmqpMessage","func":"msg.payload = { ttl: 10, message_id: 40, body: msg.payload }\nreturn msg;","outputs":1,"noerr":0,"x":603,"y":557.5,"wires":[["a74bd748.d6f4"]]},{"id":"d85b665e.0dc808","type":"function","z":"71d0ca7c.ce9484","name":"addCredit","func":"msg.credit = 10\nreturn msg;","outputs":1,"noerr":0,"x":437,"y":395.5,"wires":[["322629f3.a73b86"]]},{"id":"6a63eba1.72be1c","type":"debug","z":"71d0ca7c.ce9484","name":"","active":true,"console":"false","complete":"true","x":1145,"y":422,"wires":[]},{"id":"88199e60.85927","type":"inject","z":"71d0ca7c.ce9484","name":"","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"x":94,"y":194.5,"wires":[["4a180e95.8e8698"]]},{"id":"4a180e95.8e8698","type":"function","z":"71d0ca7c.ce9484","name":"addCredit","func":"msg.credit = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":231,"y":74.5,"wires":[["322629f3.a73b86"]]}]
