flows/requester_responder.json
[{"id":"5e2b12e6.81f024","type":"amqp-endpoint","z":"6a012c6c.41cea4","host":"127.0.0.1","port":"5672","name":""},{"id":"963b74cf.f69128","type":"amqp-requester","z":"6a012c6c.41cea4","endpoint":"5e2b12e6.81f024","address":"my_request","name":"","x":790,"y":267,"wires":[["21bd629f.1f7b56"],["b9bd7c5d.a31f48"]]},{"id":"9a06a704.21815","type":"inject","z":"6a012c6c.41cea4","name":"","topic":"","payload":"Hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":186,"y":279.5,"wires":[["5b94de7c.3e1fa"]]},{"id":"5b94de7c.3e1fa","type":"function","z":"6a012c6c.41cea4","name":"toAMQPmessage","func":"msg.payload = { body: msg.payload }\nreturn msg;","outputs":1,"noerr":0,"x":473,"y":306.5,"wires":[["963b74cf.f69128"]]},{"id":"21bd629f.1f7b56","type":"debug","z":"6a012c6c.41cea4","name":"","active":true,"console":"false","complete":"true","x":1146,"y":158,"wires":[]},{"id":"fbfb0b01.bb9f28","type":"amqp-responder","z":"6a012c6c.41cea4","endpoint":"5e2b12e6.81f024","address":"my_request","name":"","x":508,"y":506,"wires":[["727a33a2.04b0bc"]]},{"id":"b9bd7c5d.a31f48","type":"debug","z":"6a012c6c.41cea4","name":"","active":true,"console":"false","complete":"true","x":1152,"y":350,"wires":[]},{"id":"7ec5fa07.63e60c","type":"debug","z":"6a012c6c.41cea4","name":"","active":true,"console":"false","complete":"false","x":845,"y":670,"wires":[]},{"id":"727a33a2.04b0bc","type":"function","z":"6a012c6c.41cea4","name":"toAMQPmessage","func":"msg.payload = { body: msg.payload.body + \" Paolo\" };\nreturn msg;","outputs":1,"noerr":0,"x":549,"y":676.5,"wires":[["7ec5fa07.63e60c","fbfb0b01.bb9f28"]]}]
