flows/simple_sender_receiver.json
[{"id":"ca3eef55.5aa39","type":"amqp-endpoint","z":"df507335.a4e92","host":"127.0.0.1","port":"5672","name":""},{"id":"e5003094.392458","type":"amqp-receiver","z":"df507335.a4e92","endpoint":"ca3eef55.5aa39","address":"my_queue","autoaccept":true,"creditwindow":100,"dynamic":false,"sndsettlemode":2,"rcvsettlemode":0,"durable":0,"expirypolicy":"session-end","name":"","x":430,"y":175.5,"wires":[["206b6f22.0431e"]]},{"id":"206b6f22.0431e","type":"debug","z":"df507335.a4e92","name":"","active":true,"console":"false","complete":"payload.body","x":751,"y":184,"wires":[]},{"id":"af3ec0f9.cedc7","type":"amqp-sender","z":"df507335.a4e92","endpoint":"ca3eef55.5aa39","address":"my_queue","autosettle":true,"dynamic":false,"sndsettlemode":2,"rcvsettlemode":0,"durable":0,"expirypolicy":"session-end","name":"","x":856,"y":340,"wires":[[]]},{"id":"1e589689.cbafc1","type":"inject","z":"df507335.a4e92","name":"","topic":"","payload":"Hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":298,"y":298.5,"wires":[["f421eade.4b4af8"]]},{"id":"f421eade.4b4af8","type":"function","z":"df507335.a4e92","name":"toAMQPmessage","func":"msg.payload = { body: msg.payload }\nreturn msg;\n","outputs":1,"noerr":0,"x":601,"y":345.5,"wires":[["af3ec0f9.cedc7"]]}]
